/* ======= General Styles ======= */
.environments-container {
  background-color: var(--primary-color-bg);
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0;
  position: relative;
  overflow: hidden;
}

.environments-content {
  background-color: var(--secondary-color-bg);
  width: 90%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======= Border Styles ======= */
.border-environments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ignora cliques */
}

.border-environments::before,
.border-environments::after {
  content: "";
  position: absolute;
  width: 2.1em;
  height: 2.1em;
  border: 1px dashed var(--primary-color);
  opacity: 0.8;
}

.border-environments::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.border-environments::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* ======= Text Styles ======= */
.environments-title {
  font-family: 'Great Vibes', serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 2.1rem;
  line-height: 1.2;
  padding: 0.2em 0;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
}

.environments-text {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 1em;
  text-align: center;
}

.environments-images {
  margin-top: 2em;
}



@media screen and (max-width: 386px) {
  /* Mobile (pequenos smartphones e celulares antigos) */
}

@media screen and (min-width: 387px) and (max-width: 575px) {
  /* Mobile (Smartphones pequenos) */
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* Tablets */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #environments .swiper {
    width: 60vw;
    height: 60vw;
  }
}

@media screen and (min-width: 1024px) {
    /* ======= General Styles ======= */
.environments-container {
  min-height: 20vh;
  flex-direction: row;
  padding-bottom: 5em;
  gap: 2em;
}

.environments-content {
  height: auto;
  width: 50%;
  padding: 2em 3em;
}
.environments-images {
  height: 40vw;
  width: 40vw;
}

#environments .swiper {
  justify-content: center;
  user-select: none;
  align-items: center;
  background-color: transparent;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper .swiper-pagination {
  bottom: 4% !important;
  z-index: 10;
}

#environments .swiper-wrapper {
  height: 85%;
  width: 85% !important;
}

#environments .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#environments .swiper .swiper-button-prev,
#environments .swiper .swiper-button-next {
  color: white;
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  transform: scale(1.1);
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1em;
  font-weight: bold;
}

    
}

@media screen and (min-width: 1350px) {
  .environments-content {
    width: 30%;
  }

  .environments-title {
    font-size: 2.8rem;
  }

  .environments-text {
    font-size: 1.2rem;
  }
}