.home-container {
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../assets/background.jpg") center/cover no-repeat fixed;
}

.container-logo-desktop {
    display: none;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo-home-mobile {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 5em;
    z-index: 9;
}

.home-content {
    z-index: 2;
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}

.home-title {
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 1em;
    width: 95%;
}

.home-title span {
    color: var(--secondary-color);
}

.home-subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

.home-menu-btn {
    display: flex;
    width: fit-content;
    background-color: var(--secondary-color);
    text-decoration: none;
    margin-left: .1em;
    border-radius: 0.1em;
    position: relative;
}

.home-menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.home-menu-btn button {
    z-index: 2;
    background-color: transparent;
    border: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1em 1.5em;
}

.br-desktop {
    content: '';
}

@media screen and (max-width: 386px) {
    /* Mobile (pequenos smartphones e celulares antigos) */
}

@media screen and (min-width: 387px) and (max-width: 575px) {
    /* Mobile (Smartphones pequenos) */
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* Tablets pequenos */
    .logo-home {
        top: 2em;
        left: 2em;
        width: 6em;
    }
    .home-content {
        margin-top: 5em;
    }
    .home-title {
        font-size: 3rem;
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Tablets e dispositivos médios */
    .logo-home {
        top: 2em;
        left: 2em;
        width: 6em;
    }
    .home-content {
        margin-top: 5em;
        margin-left: 4em;
    }
    .home-title {
        font-size: 3rem;
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    /* Desktop padrão */
    .home-container {
        justify-content: start;
        padding-top: 5em;
        flex-direction: column;
    }
    .logo-home-mobile {
        display: none;
    }
    .container-logo-desktop {
        background-color: var(--primary-color);
        z-index: 9;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1em 0;
        width: 6em;
        margin-bottom: 5vw;
    }
    .home-content {
        width: 50vw;
        margin-top: 6vw;
        margin-left: 0;
        text-align: left;
        align-items: center;
        justify-content: center;
    }
    .info-home-content {
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-title {
        font-size: 3rem;
        font-weight: 300;
        margin: 0;
        width: 100%;
    }
    .home-subtitle {
        font-size: 1.2rem;
        width: 100%;
    }
    .home-menu-btn {
        display: none;
    }
    .header-mobile {
        display: none !important;
    }
    .header-desktop {
        display: flex;
        border-bottom: 2px solid var(--primary-color);
        z-index: 99;
        margin-bottom: 0;
    }
    .nav-list-desktop {
        display: flex;
        gap: 1em;
    }
    .nav-list-desktop a {
        text-decoration: none !important;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1350px) {
    .br-desktop {
        all: unset;
    }
}
