@import url('header.css');
@import url('home.css');
@import url('about.css');
@import url('animation.css');
@import url('environments.css');
@import url('chef.css');
@import url('sugestion.css');
@import url('menu.css');
@import url('cellar.css');
@import url('winelist.css');
@import url('gallery.css');
@import url('assessment.css');
@import url('winery.css');
@import url('footer.css');


:root {
    --primary-color: #beacab;
    --secondary-color: #cec1c0;
    --tertiary-color: #d2b772;
    --primary-color-bg: #202121;
    --secondary-color-bg: #232525;

    --font-primary: 'Rubik', sans-serif;
    --font-secondary: 'Playfair Display', cursive;
    --font-decorative: 'Great Vibes', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color-bg);
}

  
.hidden {
    display: none;
}

.swiper-slide {
    opacity: 0 !important; /* Torna o slide invisível */
    pointer-events: none !important; /* Desativa a interação com o slide */
    transition: opacity 0.3s ease !important; /* Suaviza a transição */
  }
  
  .swiper-slide-active {
    opacity: 1 !important; /* Torna o slide ativo visível */
    pointer-events: auto !important; /* Permite a interação com o slide ativo */
  }